*{
      box-sizing: border-box;
}
.board{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100vh;
}
.header{
  display: block;
  padding: 10px 0px;
  overflow: hidden;
  height: 15%;
}
.output{
  flex: 1;
  overflow: hidden;
}
.compiledCodeWrapper{
  margin-bottom: 16px;
  height: calc(50% - 8px);
  background-color: #343D46;
  padding: 10px;
  padding-left: 12px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-size: 18px;
  text-align: center;
}
.afterRun{
  height: calc(50% - 8px);
  background-color: #343D46;
  padding: 10px;
  text-align: center;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
.input{
  flex: 1;
  height: 100%;
  margin-right: 16px;

}
.btn-group a{
  height: 40px;
}
.inputCodeWrapper{
  display: flex;
  height: calc(100% - 47px);
  margin-bottom: 7px;
  background-color: #343D46;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  overflow-y: scroll;
}
.numbersList{
  text-align: right;
  padding: 10px;
  padding-top: 0px;
  margin-right: 10px;
}
.numbersList p{
 margin:0px;
 font-size: 18px;
}
#textarea{
  flex: 1;
  overflow-wrap: break-word;
  overflow-x: hidden;
  caret-color : #f9ae58;
}
#textarea p{
  margin:0px;
  padding: 0px;
  height: 26px;
  font-size: 18px
}
#textarea:focus{
  outline: none;
  border: 0px solid;
}
.special{
}
.btn-custom{
  background-color: #343D46;
  color:#d8dee9;
}
.btn-custom:hover{
  background-color: #f9ae58;
  color: #343d46;
}
.btn-custom .active{
  background-color: red;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.flexContainer{
  display: flex;
  height: calc(80% - 32px);
  padding-bottom: 20px; 
}

.schema-light-white-0{
  color : #868e98;
}

.schema-light-white-1{
  color : #d8dee9;
}

.schema-light-color-0{
  color : #c594c5;
}

.schema-light-color-1{
  color : #f9ae58;
}

.schema-light-color-2{
  color : #ec5f67;
}

.schema-light-color-3{
  color : #6699cc;
}


.schema-light-color-4{
  color :#99c794;
}

.Disabled{
  background: #ec5f67;
}
.Disabled:hover{
  background: #ec5f67;
  color: white;
}

.pathInput{
  width: 100%;
  height: 32px;
  color: #343D46;
  overflow: hidden;
  margin: 8px auto;
}
.pathInput input{
  width: 100%;
  padding: 1px 10px;
  font-size: 16px;
}