*{
      box-sizing: border-box;
}
.compiledCodeWrapper{
  flex: 1;
}
.inputCodeWrapper{
  flex: 1;
  display: flex;
}
.numbersList{
  text-align: right;
  padding: 8px;
  padding-top: 0px;
  border-right: 1px solid gray;
  margin-right: 10px;
}
.numbersList p{
 margin:0px;
 font-size: 18px;
}
#textarea{
  width: 300px;
}
#textarea p{
  margin:0px;
  padding: 0px;
  height: 26px;
  font-size: 18px
}
#textarea:focus{
  outline: none;
  border: 0px solid;
}
.special{
  color: blue;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.flexContainer{
  display: flex;
}