body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  font-size: large;
  background-color: #1f252a;
  color: #868e98;
}

::-webkit-scrollbar { 
    display: none;
}

.btn {
    border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}